language: r
warnings_are_errors: true
sudo: required
r: devel

dist: trusty
before_install:
- sudo apt-get update -qq
- sudo apt-get install -y
  libhdf5-7 libhdf5-dev
  libgdal1h libnetcdf-dev
  gdal-bin libproj-dev libgdal-dev

  
install:
  - Rscript -e 'if(!"devtools" %in% rownames(installed.packages())) install.packages("devtools", dependencies = TRUE)'
  - Rscript -e 'install.packages(c("Rcpp","RcppArmadillo", "magrittr", "RColorBrewer", "plyr", "raster", "rasterVis", "sp", "rgeos", "rgdal", "SDMTools"), dependencies = TRUE)'

notifications:
  on_success: change
  on_failure: always