# .travis.yml using container-based infrastructure
# based on https://github.com/dmenne/bugsexamples/blob/master/.travis.yml
# use c as catch-all language
language: c

# use containers
sudo: false

# only run for pushes to master branch
branches:
  only:
   - master

# install R: use r-packages-precise (https://cran.r-project.org/bin/linux/ubuntu/precise/)
# as source which is white listed (https://github.com/travis-ci/apt-source-whitelist/)
addons:
  apt:
    sources:
    - r-packages-precise
    packages:
    - r-base-dev
    - r-recommended
    - pandoc
    - libgdal-dev
    - libproj-dev

# cache local R libraries directory:
cache:
  directories:
    - ~/Rlib

# install the package and dependencies:
# - create directory for R libraries (if not already exists)
# - create .Renviron with location of R libraries
# - define R repository in .Rprofile
# - add .travis.yml to .Rbuildignore
# - install devtools if not already installed
# - update all installed packages
# - install package with dependencies
install:
  - mkdir -p ~/Rlib
  - echo 'R_LIBS=~/Rlib' > .Renviron
  - echo 'options(repos = "http://cran.rstudio.com")' > .Rprofile
  - Rscript -e 'if(!"devtools" %in% rownames(installed.packages())) { install.packages("devtools", dependencies = TRUE) }'
  - Rscript -e 'update.packages(ask = FALSE, instlib = "~/Rlib")'
  - Rscript -e 'devtools::install_deps(pkg = ".", dependencies = TRUE)'
  - WORKDIR=`pwd`
  - cd $HOME
  - mkdir -p gdal
  - cd gdal
  - apt-get install build-essential python-all-dev
  - wget http://download.osgeo.org/gdal/gdal-1.9.0.tar.gz
  - tar xvfz gdal-1.9.0.tar.gz
  - cd gdal-1.9.0
  - ./configure --with-python
  - make
  - make install
  - mkdir -p $HOME/bin
  - ln -sf ~/gdal/bin/gdal_polygonize /home/travis/bin/gdal_polygonize
  - cd $WORKDIR

# Build and check package
script:
  - R CMD build .  --no-manual
  - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
  - R CMD check "${PKG_FILE_NAME}"  --no-build-vignettes --no-manual --as-cran

 # send e-mails if stuff changes
notifications:
  email:
    on_success: change
    on_failure: change

  